<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <link rel="manifest" href="../../manifest.json" />
    <title>SantaRita-APP | Alerta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../Content/images/favicon.ico" />

    <!-- Opensoft -->
    <script src="../../_librerias/MomentJS/moment-with-locales.min.js"></script>
    <script src="../../_librerias/OpenNet/_general.js"></script>

    <!-- Propios -->
    <link rel="stylesheet" href="../Content/css/login.css" />
    <script src="../Content/js/login.js"></script>
</head>

<body>
    <div class="formulario-login">
        <img class="logo-login" src="../Content/images/logo-top-2.png" />
		<br>
		<label class="titulo-login">Ups, algo ocurrió!</label>
        <div class="ingreso-login" style="width:50%">
			<label class="texto-login">...quizás su dispositivo no está habilitado para estas aplicaciones tan modernas</label>
        </div>
    </div>
</body>
</html>
