@import '_general.css';


body {
    background-image: url('../images/fondo-login2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin:40px;
    margin-top: 20px;
}

    body .formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        body .formulario .logo-instalacion {
            margin-bottom: 50px;
        }

        body .formulario .titulo-instalacion {
            color: white;
            font-size: 24px;
            margin-bottom: 10px;
        }

            body .formulario .titulo-instalacion .app {
                color: yellow;
                font-style: italic;
                font-weight: bold
            }

        body .formulario .texto-login {
            color: white;
            font-size: 16px;
        }

        body .formulario .instalacion {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            max-width:70%;
        }

            body .formulario .instalacion .texto-instalacion {
                display: flex;
                flex-direction: column;
                color: white;
                font-size: 18px;
                text-align: center;
            }
                         

            body .formulario .instalacion .botones-instalacion {
                display: flex;
                flex-direction: column;
                margin-top: 25px;
                align-items: center;
            }


                body .formulario .instalacion .botones-instalacion .btn-instalacion {
                    color: #000;
                    background-color: rgba(255, 255, 255, 0.77);
                    font-size: 15px;
                    font-weight: normal;
                    text-align: center;
                    display: block;
                    letter-spacing: 0.03em;
                    text-decoration: underline;
                    padding: 0.5em 0;
                    width: 100%;
                    margin: 5px auto;
                    text-decoration: none;
                    transition: all 0.2s ease-in 0s;
                    text-transform: uppercase;
                    border: 1px solid transparent;
                    touch-action: manipulation;
                    cursor: pointer;
                }

                    body .formulario .instalacion .botones-instalacion .btn-instalacion:hover {
                        -webkit-box-shadow: -2px 2px 7px 0px rgb(0 0 0 / 80%);
                        -moz-box-shadow: -2px 2px 7px 0px rgba(0,0,0,0.80);
                        box-shadow: -2px 2px 7px 0px rgb(0 0 0 / 80%);
                        background-color: rgba(197, 194, 58, 0.77);
                    }
